.App {
    /* background-color: #576779;
    background-image: linear-gradient(315deg, #576779 0%, #354557 37%); */
    /* background-color: #d3d3d3;
    background-image: linear-gradient(315deg, #d3d3d3 0%, #2d3436 84%); */
    background-color: #090947;
    background-image: linear-gradient(315deg, #090947 0%, #5a585a 74%);
    height: 100vh;
}

.main-title {
    /* font-size: calc(20px + 5vh); */
    font-size: 4em;
    line-height: 1em;
    /* line-height: calc(20px + 6vh); */
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
    /* font-family: "Sacramento", cursive; */
    font-family: 'Mochiy Pop P One', sans-serif;
    text-align: center;
    animation: blink 12s infinite;
    -webkit-animation: blink 12s infinite;
}

@-webkit-keyframes blink {
    20%,
    24%,
    55% {
        color: #111;
        text-shadow: none;
    }
    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
        text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
        color: #fff6a9;
    }
}

@keyframes blink {
    20%,
    24%,
    55% {
        color: #111;
        text-shadow: none;
    }
    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
        text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
        color: #fff6a9;
    }
}

@media only screen and (max-width: 768px) {
    .main-title {
        font-size: 2em;
        padding-top: 15%;
    }
}